@{
    ViewData["Title"] = "Index";
}
<div class="index">
    <header>
 <h1>Bienvenidos al escape room de la banda del morgan</h1>    </header>
    <section>
       
        <img src="/Imagenes/MORGAN.jpg" alt="Foto de la banda">
        <h4>Aca ingresa tu nombre</h4>
<form action='@Url.Action("InicializarJuego","Home")' method="post">
    <input type="text" name="NomUsu" placeholder="Ingrese su nombre">
    <input type="submit" value="Iniciar Juego">
</form>
    </section>
    <div class="botones-links">
        <a href='@Url.Action("DTutorial", "Home")'>tutorial</a>
        <a href='@Url.Action("DContexto", "Home")'>contexto</a>
        <a href='@Url.Action("DCreditos", "Home")'>creditos</a>
    </div>
    <footer>
        &copy; @DateTime.Now.Year - La banda del morgan
    </footer>
</div>